NEXT_PUBLIC_SITE_URL=https://asparel.tr
NEXT_PUBLIC_SUPABASE_URL=https://qxrwqzenkavhxlypivlz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4cndxemVua3dhdmhseXBpdmx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMzc5ODUsImV4cCI6MjEwMjcxMzk4NX0.Re9CFNdOefHUhbFkbs8ktqRF5UeEIjoN4jVWJkN9ync
